* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 69, 69);
    color: white;
    font-family: 'Caveat', cursive;
}

h1 {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
}

main {
    margin: 1rem;
}

#txt-input, #output {
    margin: auto;
    display: block;
    padding: 1rem;
    width: 80%;
    height: 20vh;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 0.3rem;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    border-radius: 0.3rem;
    background-color: rgb(116, 116, 116);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

#output {
    background-color: white;
}

div.about {
    margin-top: 2rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(116, 116, 116);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}